BASEDIR=$(cd $(dirname "$0") ; pwd)

TOKEN=$(cat -- "${BASEDIR}/TOKEN" | tr -d " \n")

if [ ! -f "${BASEDIR}/TOKEN" ] ; then
  echo "Crea un fichero que se llame "TOKEN" enb el mismo directorio que el resto 
  de ficheros con el contenido del token del bot y protegelo adecudamente"
  exit 1
fi

TOKENHASH=$(md5sum "${BASEDIR}/TOKEN")
TOKENHASH="${TOKENHASH%% *}"

URLBASE="https://api.telegram.org/bot${TOKEN}"
TGURLMSG="${URLBASE}/sendMessage"
TGURLIMG="${URLBASE}/sendPhoto"
TGURLUPDATES="${URLBASE}/getUpdates"
TGURLGIF="${URLBASE}/sendAnimation"
TGURLFILE="${URLBASE}/getFile"

TMPDIR="/tmp/telegramBot"
MINTIEMPO=3600

EXTERNALURL="https://gpi.zdn.es/Voz2podcast_bot_${TOKENHASH}"

LANG=es_ES.UTF-8

if [ ! -d "$TMPDIR" ]; then
  mkdir -p -- "$TMPDIR"
fi

# echo ${EXTERNALURL}