BASEDIR=$(cd $(dirname "$0") ; pwd)

TOKEN=$(cat -- "${BASEDIR}/TOKEN" | tr -d " \n")

if [ ! -f "${BASEDIR}/TOKEN" ] ; then
  echo "Crea un fichero que se llame "TOKEN" en el mismo directorio que el resto 
  de ficheros con el contenido del token del bot y protegelo adecuadamente"
  exit 1
fi

TOKENHASH=$(md5sum "${BASEDIR}/TOKEN")
TOKENHASH="${TOKENHASH%% *}"

URLBASE="https://api.telegram.org/bot${TOKEN}"
TGURLUPDATES="${URLBASE}/getUpdates"
TGURLFILE="${URLBASE}/getFile"

TMPDIR="/tmp/telegramBot"

TIEMPOENTRECONSULTAS=20

LANG=es_ES.UTF-8

if [ ! -d "$TMPDIR" ]; then
  mkdir -p -- "$TMPDIR"
fi
